# Auto detect text files and perform LF normalization
* text=auto
*.hsp text diff=sjis working-tree-encoding=cp932 eol=crlf
*.as  text diff=sjis working-tree-encoding=cp932 eol=crlf
*.hs  text diff=sjis working-tree-encoding=cp932 eol=crlf
*.txt text diff=sjis working-tree-encoding=cp932 eol=crlf
